
<form>
  <h3>Group Work</h3>
  <label>Period</label>
  <input type="number" id="period" name="period" value="{{period}}"/>

  <br/>
  <label>Group Size</label>
  <input type="number" id="groupSize" name="groupSize" value="{{groupSize}}"/>
  <br /> <br />
  <input type="submit" value="Make Groups!" />
</form>
<br/>

{{#student-group students}}
{{firstName}} {{lastName}}
{{/student-group}}
