<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Mrs. Kilburn's Classroom</title>

  <!-- Bootstrap compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Bootstrap compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Custom CSS -->
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <a class="btn btn-default" href="./group-work">Group Work</a>
  | <a class="btn btn-default" href="./call-on">Call On Students</a>
  <hr />
  {{{ body }}}

  <!-- Start SMC Widget -->
  <script defer src="https://betamedia.carfax.com/pages/smc/cfx-smc-widget-loader.js"></script>
  {{!-- <link rel="stylesheet" href="https://betamedia.carfax.com/pages/smc/cfx-smc-widget.css"> --}}
  <div id="cfx-smc-widget"></div>
  <!-- End SMC Widget -->
</body>
</html>
