<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mrs. Kilburn's Classroom</title>

    <!-- Bootstrap compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Bootstrap compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/main.css">
  </head>

  <form>
    <h3>Group Work</h3>
    <label>Period</label>
    <input type="number" id="period" name="period" value="{{period}}"/>

    <br/>
    <label>Group Size</label>
    <input type="number" id="groupSize" name="groupSize" value="{{groupSize}}"/>
    <br /> <br />
    <input type="submit" value="Make Groups!" />
  </form>
  <br/>

  {{#student-group students}}
    {{firstName}} {{lastName}}
  {{/student-group}}

  </body>
</html>
